{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inflaze - 광고주 로그인</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!-- =======================================================
  * Template Name: Dewi
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/AdvHome">
        <img class="logo" src="{% static 'img/logo.png' %}" style="width:30%;" alt="" />
      </a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <!--<li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Recommend</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li><a class="getstarted scrollto" href="/accounts/Adv_Signup">로그인/회원가입</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center"
        style="-webkit-user-select: none;
        -moz-user-select: none;
        -ms-use-select: none;
        user-select: none;">
          <h2>광고주 로그인</h2>
          <ol>
            <li><a href="/AdvHome" style="color:#ff4a17;">Home</a></li>
            <li>광고주 로그인</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <div class="signup_wrap">
      <div class="login">
        <div>
          <h2 style="-webkit-user-select: none;
          -moz-user-select: none;
          -ms-use-select: none;
          user-select: none;">광고주 로그인</h2>
        </div>
        <form class="login-form" method="post">
          {% csrf_token %}
          <div class="signup_id">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요" required>
          </div>
          <div class="signup_pw">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
          </div>
          <div class="submit">
            <input type="button" id="prev" onclick="history.back(-1);" value="이전으로">
            <input type="submit" value="로그인하기">
          </div>
        </form>
        <div class="login_error">
          {% if login_error %}
          <!--<p>{{ login_error }}</p>-->
          <script>
            alert("{{ login_error }}");
          </script>
          {% endif %}
        </div>
      </div>
    </div>


  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Info</h3>
              <p>
                Bundang-gu, Seongnam-si, Gyeonggi-do <br>
                Pangyo 289-20, Korea<br><br>
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/TermOfUse_A">이용약관</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/PrivacyPolicy_A">개인정보처리방침</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <p>
                <strong>Phone:</strong> +82 010 8937 6522<br>
                <strong>Email:</strong> ghdtmdalsdad@naver.com<br>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>inflaze</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">CircuitChamps</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>