{% extends 'influencer-base.html' %}
{% load static %}

{% block contents %}

<ul class="sidebar">
  <li><a class="home" href="#">홈</a></li>
  <li><a href="#">새소식</a></li>
  <li><a href="#">상품</a></li>
  <li><a href="#">회사</a></li>
</ul>

<div class="cd1">
  <h1>큰 제목</h1>
  <h2>작은 제목</h2>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>
  <p>내용</p>

</div>
{% comment %} <div class="relation-keywords">
    <h3>관련 키워드</h3>
  </div>
  <div class="row gy-4">
  <div class="col-lg-6">
    <div id="chartdiv"></div>
  </div>

  <div class="col-lg-6">
    <div id="chartkey"></div>
  </div>
</div>
</div>
</section>

<section id="portfolio-details" class="portfolio-details">
  
  <div class="container">
    <div>
      <h3>주요 광고 제품</h3>
    </div>
    <div class="row gy-4">

      <div class="col-lg-6">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{% static 'img/influencer-more/myprotein.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/influencer-more/almond.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/influencer-more/kalo.jpg' %}" alt="">
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="portfolio-info">
          <h3>인플루언서명</h3>
          <ul>
            <li><strong>Category</strong>: 운동/기능식품</li>
            <li><strong>Instagram URL</strong>: <a href="https://www.instagram.com/p/CvwRXURywmz/?img_index=5" target="_blank">바로가기</a></li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>설명</h2>
          <p>내용
          </p>
        </div>
      </div>

    </div>

  </div>
</section>

<style>
  #chartdiv {
    width: 100%;
    max-width: 100%;
    height: 350px;
  }
  </style>

   <!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
  am5.ready(function() {
  
  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv");
  
  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)
  ]);
  
  var data = {
    value: 0,
    children: [
      {
        name: "Fruity",
        children: [
          {
            name: "Berry",
            children: [
              {
                name: "Blackberry",
                value: 1
              },
              {
                name: "Raspberry",
                value: 1
              },
              {
                name: "Blueberry",
                value: 1
              },
              {
                name: "Strawberry",
                value: 1
              }
            ]
          },
          {
            name: "Dried Fruit",
            children: [
              {
                name: "Raisin",
                value: 1
              },
              {
                name: "Prune",
                value: 1
              }
            ]
          },
          {
            name: "Other Fruit",
            children: [
              {
                name: "Coconut",
                value: 1
              },
              {
                name: "Cherry",
                value: 1
              },
              {
                name: "Pomegranate",
                value: 1
              },
              {
                name: "Pineapple",
                value: 1
              },
              {
                name: "Grape",
                value: 1
              },
              {
                name: "Apple",
                value: 1
              },
              {
                name: "Peach",
                value: 1
              },
              {
                name: "Pear",
                value: 1
              }
            ]
          },
          {
            name: "Citrus Fruit",
            children: [
              {
                name: "Grapefruit",
                value: 1
              },
              {
                name: "Orange",
                value: 1
              },
              {
                name: "Lemon",
                value: 1
              },
              {
                name: "Lime",
                value: 1
              }
            ]
          }
        ]
      }
    ]
  };
  
  // Create wrapper container
  var container = root.container.children.push(am5.Container.new(root, {
    width: am5.percent(100),
    height: am5.percent(100),
    layout: root.verticalLayout
  }));
  
  // Create series
  // https://www.amcharts.com/docs/v5/charts/hierarchy/#Adding
  var series = container.children.push(am5hierarchy.ForceDirected.new(root, {
    singleBranchOnly: false,
    downDepth: 2,
    topDepth: 1,
    initialDepth: 1,
    valueField: "value",
    categoryField: "name",
    childDataField: "children",
    idField: "name",
    linkWithField: "linkWith",
    manyBodyStrength: -10,
    centerStrength: 0.8
  }));
  
  series.get("colors").setAll({
    step: 2
  });
  
  series.links.template.set("strength", 0.5);
  
  series.data.setAll([data]);
  
  series.set("selectedDataItem", series.dataItems[0]);
  
  
  // Make stuff animate on load
  series.appear(1000, 100);
  
  }); // end am5.ready()
  </script>

  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  <script>
    anychart.onDocumentReady(function () {
        var data = [
            {
                "x": "IT",
                "value": 590000000,
                category: "Sino-Tibetan"
            },
            {
                "x": "Python",
                "value": 283000000,
                category: "Indo-European"
            },
            {
                "x": "소프트웨어",
                "value": 544000000,
                category: "Indo-European"
            },
            {
                "x": "JAVA",
                "value": 527000000,
                category: "Indo-European"
            }, {
                "x": "C++",
                "value": 422000000,
                category: "Afro-Asiatic"
            }, {
                "x": "HTML",
                "value": 620000000,
                category: "Afro-Asiatic"
            }
        ];
        var chart = anychart.tagCloud(data);
        chart.angles([0]);
        chart.container("chartkey");
        // chart.getCredits().setEnabled(false);
        chart.draw();
    });
    </script> {% endcomment %}
{% endblock %}