.biography h6 {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: none;
  line-height: 1.2;
}

.biography h6.collapsed {
  max-height: 2.4em;
<<<<<<< HEAD
}
=======
}
>>>>>>> 75c32d966ac65d5fc7bc9da71943e510d23aec00
