{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>infraze</title>
  <link rel="shortcut icon" type="img/png" href="{% static 'img/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="{% static 'img/logos/logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <!-- <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li> -->
            <li class="sidebar-item" style="text-align: center;">
              <!-- <a class="sidebar-link" href="./index.html" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a> -->

              <!-- 인스타그램 프로필 사진 -->
              <a href="javascript:void(0)" class="profile" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/profile/user-1.jpg' %}" alt="" width="100" height="100" class="rounded-circle"
                  style="margin-bottom: 36px; margin-top: 36px;">
              </a>
              <script>
                // 마우스가 이미지 위로 올라왔을 때의 처리 함수
                function enlargeImage() {
                  var img = document.querySelector('.profile img');
                  img.style.transform = 'scale(1.2)';
                }

                // 마우스가 이미지를 벗어났을 때의 처리 함수
                function restoreImage() {
                  var img = document.querySelector('.profile img');
                  img.style.transform = 'scale(1)';
                }

                // 이벤트를 추가할 이미지 영역 요소 가져오기
                var profileImage = document.querySelector('.profile');

                // 이벤트 리스너 등록
                profileImage.addEventListener('mouseover', enlargeImage);
                profileImage.addEventListener('mouseout', restoreImage);
              </script>

              <div style="text-align: center;">
                <h5>@id</h5>
                <h6>이름</h6>
                <h6>기타 추가할거..</h6>
              </div>
            </li>
            <div
              style="display: grid; grid-template-columns: repeat(2,1fr); row-gap: 20px; margin-top: 36px; text-align: center;">
              <span style="display: flex; flex-direction: column-reverse;">
                <label>팔로워</label>
                <strong>217.71k</strong> <!-- strong 실제 데이터 값 출력되어야 함 -->
              </span>
              <span style="display: flex; flex-direction: column-reverse;">
                <label>팔로우</label>
                <strong>247</strong> <!-- strong 실제 데이터 값 출력되어야 함 -->
              </span>
              <span style="display: flex; flex-direction: column-reverse;">
                <label>게시물</label>
                <strong>289</strong> <!-- strong 실제 데이터 값 출력되어야 함 -->
              </span>
              <span style="flex-direction: column-reverse; padding: 0% 25% 0% 25%;">
                {% comment %} <label></label>
                <strong>217.71k</strong> {% endcomment %}
                <input type="image" src="{% static '/img/instagram.png' %}"
                  onclick="window.open('https://www.instagram.com/limmiae/?hl=ko')"
                  style="width:50px; filter: drop-shadow(1px 1px 1px #000); display:flex;">
              </span>
            </div>
            <!-- <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">UI COMPONENTS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Buttons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Alerts</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Card</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Forms</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Typography</span>
              </a>
            </li> -->
            <!-- <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li> -->
            <!-- <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Icons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Sample Page</span>
              </a>
            </li> -->
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a> -->
              <a class="nav-link nav-icon-hover" href="/InfluHome">홈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">1대1 매칭 분석</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="/notice" style="color: #5D87FF;">모집공고</a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank"
                class="btn btn-primary">로그아웃</a>
              <li class="nav-item dropdown">
                <!-- <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a> -->
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <!-- <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <h3>에이전시 목록</h3>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">에이전시1 소개글 부분
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="padding-top:10px;">
        <!--  Row 1 -->
        <div class="row">
          <h3>캠페인에 참여한 인플루언서</h3>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">캐러셀 적용
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="padding-top:10px;">
        <!--  Row 1 -->
        <div class="row">
          <h3>진행 중인 캠페인</h3>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <img src="{% static 'img/notice/noticeEX_thumbnail.png' %}" class="card-img-top" alt="모집 공고글 1(광고 캠페인 글)">
                    <div class="card-body">
                      <h5 class="card-title"><strong>딥스</strong></h5>
                      <p class="card-text" style="font-size:11px;">2022년~현재<br>
                        마케팅 진행내용: 브랜드 캠페인, 퍼포먼스 마케팅<br>
                        진행 매체: SA, DA, SNS운영, SNS 스폰서드, 바이럴마케팅</p>
                      <div class="col-md-12">
                        <a href="#" class="btn btn-outline-primary" style="margin-right:33.3333%;" data-toggle="modal" data-target="#myModal">자세히 보기</a>

                        <!-- 모달 창 코드 -->
                        <div class="modal fade" id="myModal">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                              <!-- 모달 헤더 -->
                              <div class="modal-header">
                                <h4 class="modal-title">딥스_모집공고</h4>
                                <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
                              </div>

                              <!-- 모달 본문 -->
                              <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                                <!-- 스크롤이 필요한 내용을 여기에 추가합니다. -->
                                <!-- 많은 내용이 들어가면 스크롤이 나타납니다. -->
                                <!-- 예제로 많은 텍스트 추가 -->
                                <h2><strong>딥스</strong></h2>
                                <p style="opacity:0.5;">2022년~현재</p>
                                <br><hr>
                                <strong><p>
                                  [카테고리]<br>
                                  브랜딩 캠페인, 퍼포먼스 마케팅<br><br>
                                  [진행내용]<br>
                                  1. 브랜딩 진행내용<br>
                                  <li>SNS 브랜드 채널 생성, 프리미엄 천연 미네랄 해양심층수 브랜드 홍보</li>
                                  <br>
                                  2. 퍼포먼스 진행내용<br>
                                  <li>운동, 가족 직장인 등 타겟 세분화를 통해 다수 매체 동시 집행</li>
                                  <li>소구 포인트 캐치 후 충성고객 확보</li></p></strong>
                                  <img src="{% static 'img/notice/noticeEX.png' %}" alt="" style="max-width:750px; margin-top: 100px;">
                                <!-- 다른 내용들 -->
                              </div>

                              <!-- 모달 푸터 -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-6 px-6 text-center">
        <!-- ======= Footer ======= -->
        <hr>
        <footer id="footer">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="footer-info">
                    <p>
                      Bundang-gu, Seongnam-si, Gyeonggi-do, Pangyo 289-20, Korea
                    </p>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="/TermOfUse_I">이용약관</a></li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="/PrivacyPolicy_I">개인정보처리방침</a></li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="footer-info">
                    <p>
                      <strong>Phone:</strong> +82 010 8937 6522<br>
                      <strong>Email:</strong> ghdtmdalsdad@naver.com<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="copyright">
              &copy; Copyright <strong><span>inflaze</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">CircuitChamps</a>
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>

  <!-- 부트스트랩 JavaScript 및 jQuery 라이브러리 불러오기 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>