{% load static %}
<!doctype html>
<html lang="en">
{% if request.session.user_id %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>infraze</title>
  <link rel="shortcut icon" type="img/png" href="{% static 'img/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <aside class="left-sidebar">

      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="{% static 'img/logos/logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item" style="text-align: center;">

              <!-- 인스타그램 프로필 사진 --> <!-- 인스타 계정 사진 데이터로 불러올 수 있으면 반영 -->
              <a href="javascript:void(0)" class="profile" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/profile/user-1.jpg' %}" alt="" width="100" height="100" class="rounded-circle"
                  style="margin-bottom: 36px; margin-top: 36px;">
              </a>
              <script>
                // 마우스가 이미지 위로 올라왔을 때의 처리 함수
                function enlargeImage() {
                  var img = document.querySelector('.profile img');
                  img.style.transform = 'scale(1.2)';
                }

                // 마우스가 이미지를 벗어났을 때의 처리 함수
                function restoreImage() {
                  var img = document.querySelector('.profile img');
                  img.style.transform = 'scale(1)';
                }

                // 이벤트를 추가할 이미지 영역 요소 가져오기
                var profileImage = document.querySelector('.profile');

                // 이벤트 리스너 등록
                profileImage.addEventListener('mouseover', enlargeImage);
                profileImage.addEventListener('mouseout', restoreImage);
              </script>
              <div style="text-align: center;">
                <h5>{{user.company}}</h5>
                <h6>기타 추가할거..</h6>
              </div>
            </li>
            <div
              style="display: grid; grid-template-columns: repeat(2,1fr); row-gap: 20px; margin-top: 36px; text-align: center;">
              <span style="display: flex; flex-direction: column-reverse;">
                <label>고객수</label>
                <strong>4</strong> <!-- strong 실제 데이터 값 출력되어야 함 -->
              </span>
              <span style="display: flex; flex-direction: column-reverse;">
                <label>진행 캠페인</label> <!-- ==작성한 공지 수 -->
                <strong>3</strong> <!-- strong 실제 데이터 값 출력되어야 함 -->
              </span>
            </div>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->

      </div>
      <!-- End Sidebar scroll-->

    </aside>
    <!--  Sidebar End -->

    <!--  Main wrapper -->
    <div class="body-wrapper">

      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="/AgencyHome">홈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" title="소속 인플루언서들을 시각적으로 자세히 분석해드립니다.">상세
                분석</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="" title="모집공고 글을 작성, 수정 또는 삭제합니다." style="color: #5D87FF;">모집공고
                관리</a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="/accounts/Adv_Logout" class="btn btn-primary">로그아웃</a>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->

      <div class="container-fluid" style="padding-top: 10px;">
        <!-- Row 1 -->
        <div class="row">
          <h3>관리</h3>
          <div class="card">
            <div class="card-body">
              <div class="row">
                {% for notice in notices %}
                {% if notice.agency_id == user.id %}
                {% if notice.images.all %}
                <div class="col-md-4">
                  <div class="card">
                    <img src="{% static 'img/recruitment_images/스크린샷_2023-05-12_171701_REaAvrc.png' %}" class="card-img-top" alt="모집 공고글 (광고 캠페인 글)">
                    <div class="card-body">
                      <h5 class="card-title"><strong>{{ notice.title }}</strong></h5>
                      <p class="card-text" style="font-size:11px;">{{ notice.period }}<br>
                        {{ notice.marketing_content }}<br>
                        {{ notice.media_channels }}</p>
                      <div class="col-md-12">
                        <a href="#" class="btn btn-outline-primary" style="margin-right:33.3333%;" data-toggle="modal"
                          data-target="#myModal{{ notice.pk }}">보기</a>

                        <!-- 모달 창 코드 -->
                        <div class="modal fade" id="myModal{{ notice.pk }}">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <!-- 모달 헤더 -->
                              <div class="modal-header">
                                <h4 class="modal-title">{{ notice.title }}_모집공고</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                  data-dismiss="modal"></button>
                              </div>
                              <!-- 모달 본문 -->
                              <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                                <!-- 스크롤이 필요한 내용을 여기에 추가합니다. -->
                                <!-- 많은 내용이 들어가면 스크롤이 나타납니다. -->
                                <h2><strong>{{ notice.title }}</strong></h2>
                                <p style="opacity:0.5;">{{ notice.period }}</p>
                                <br>
                                <hr>
                                <strong>
                                  <p>
                                    [카테고리]<br>
                                    {{ notice.category }}<br><br>
                                    [진행내용]<br>
                                    {{ notice.content_1|safe }}<br>
                                    {% if notice.content_2 %}
                                    <br>
                                    {{ notice.content_2|safe }}<br>
                                    {% endif %}
                                  </p>
                                </strong>
                                <img src="{% static 'img/recruitment_images/스크린샷_2023-05-12_171701.png' %}" alt=""
                                  style="max-width:750px; margin-top: 100px;">
                                <!-- 다른 내용들 -->
                              </div>
                              <!-- 모달 푸터 -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="/edit-notice' notice.pk " class="btn btn-primary">수정</a>
                        <a href="/delete-notice' notice.pk " class="btn btn-danger" onclick="confirmDelete('{{ notice.pk }}')">삭제</a>

                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="col-md-4">
                  <div class="card">
                    <img src="{% static 'img/products/recruit2.jpg' %}" class="card-img-top" alt="모집 공고글 2(광고 캠페인 글)">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="col-md-12">
                        <a href="#" class="btn btn-outline-primary" style="margin-right:33.3333%;">보기</a>
                        <a href="#" class="btn btn-primary">수정</a>
                        <a href="#" class="btn btn-danger">삭제</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="{% static 'img/products/recruit3.jpg' %}" class="card-img-top" alt="모집 공고글 3(광고 캠페인 글)">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                      <div class="col-md-12">
                        <a href="#" class="btn btn-outline-primary" style="margin-right:33.3333%;">보기</a>
                        <a href="#" class="btn btn-primary">수정</a>
                        <a href="#" class="btn btn-danger">삭제</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="../create" class="btn btn-primary">공고 쓰기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <!-- ======= Footer ======= -->
          <hr>
          <footer id="footer">
            <div class="footer-top">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                      <p>
                        Bundang-gu, Seongnam-si, Gyeonggi-do, Pangyo 289-20, Korea
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-6 footer-links">
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="/TermOfUse_I">이용약관</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 footer-links">
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="/PrivacyPolicy_I">개인정보처리방침</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                      <p>
                        <strong>Phone:</strong> +82 010 8937 6522<br>
                        <strong>Email:</strong> ghdtmdalsdad@naver.com<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="copyright">
                &copy; Copyright <strong><span>inflaze</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">CircuitChamps</a>
              </div>
            </div>
          </footer>
          <!-- End Footer -->

        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>

  <!-- 부트스트랩 JavaScript 및 jQuery 라이브러리 불러오기 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function confirmDelete(noticeId) {
      var url = document.querySelector("[data-url='" + noticeId + "']").getAttribute("data-url");
      if (confirm("정말로 이 공고를 삭제하시겠습니까?")) {
        window.location.href = url;
      }
    }
  </script>

</body>
{% else %} <!-- 로그인 안하고 주소창에 /AgencyHome 치고 들어왔을 때 서비스 이용 불가능 -->

<head>
  <title>페이지를 찾을 수 없음</title>
</head>

<body>
  <h1>페이지를 찾을 수 없음</h1>
  <p>죄송합니다. 요청하신 페이지를 찾을 수 없습니다.</p>
</body>
<div class="user-none">
  <script>
    alert("회원만 접근 가능합니다.");
  </script>
</div>
{% endif %}

</html>