{% extends "InfluHome-Base.html" %}

{% load static %}

{% block content %}
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="/InfluHome">상세 분석</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="/ComparisonAnalysis">1대1 매칭 분석</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" id="" href="" style="color: #5D87FF;">모집공고</a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="/accounts/Influ_Logout" class="btn btn-primary">로그아웃</a>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <h3>에이전시 목록</h3>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card">
                        <img src="{% static 'img/bback.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">빡</h5>
                          <p class="card-text">저희 회사는 운동 관련(보조제, 건강식품) 제품들을 주로 광고, 협찬하고 있습니다.</p>
                          <a href="/notice-Agency1" class="btn btn-primary">자세히 보기</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <img src="{% static 'img/products/s4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <img src="{% static 'img/products/s4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}