{% extends 'portfolio-details-base.html' %}
{% load static %}

{% block contents %}
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{% static 'img/portfolio/diet01.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/portfolio/diet02.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/portfolio/diet03.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/portfolio/diet04.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'img/portfolio/diet05.jpg' %}" alt="">
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          {% comment %} {% if query in item.title or query in item.body %} {% endcomment %}
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: 보조제/기능식품</li>
            <li><strong>Client</strong>: limmiae</li>
            <li><strong>Project date</strong>: 10 August, 2023</li>
            <li><strong>Project URL</strong>: <a href="https://www.instagram.com/p/CvwRXURywmz/?img_index=5" target="_blank">캠페인 바로가기</a></li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>[협찬제품명 or 브랜드명]</h2>
          <p>[진행내용]
            <br><br>
            [ex.<br>
            1. 브랜딩 진행내용
            <br>
            <li>SNS 브랜드 채널 역량강화, MZ세대 대상으로 브랜드 인지도 제고 및 구매유도</li>
            <li>...</li>
            <li>...</li>
            <br><br>
            2. 퍼포먼스 진행내용
            <br>
            <li>소재 제작 시 부서별 A/B 테스트를 통한 메인 콘텐츠 기획&제작</li>
            <li>...</li>
            <li>...</li>
            ]
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}