{% load static %}
<!doctype html>
<html lang="en">
{% if request.session.user_id %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>infraze</title>
  <link rel="shortcut icon" type="img/png" href="{% static 'img/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=inter%7CNoto+Sans+KR:100,300,500,700,900" media="all">
</head>

<body>

  <!--  Header Start -->
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item d-block d-xl-none">
          <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-icon-hover" href="/AgencyHome">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-icon-hover" href="/DetailedAnalysis" title="소속 인플루언서들을 시각적으로 자세히 분석해드립니다.">상세 분석</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-icon-hover" href="/notice-manage" title="모집공고 글을 작성, 수정 또는 삭제합니다.">모집공고 관리</a>
        </li>
      </ul>
      <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
          <a href="/accounts/Adv_Logout" class="btn btn-primary">로그아웃</a>
        </ul>
      </div>
    </nav>
  </header>
  <!--  Header End -->

  <main id="main">

    <section class="inner-page">
      <div class="container">
        <div class="page-title">
          <strong>이용약관</strong>
        </div>
        <div class="section-wrapper">
              <h4><strong>1. 약관의 목적</strong></h4>

              <h5>이 약관은 inflaze (이하 '회사')의 홈페이지 (이하 '사이트')를 이용함에 있어 회사와 이용자 간의 권리, 의무 및 책임사항을 규정합니다.</h5>

              <h4><strong>2. 약관의 효력과 변경</strong></h4>

              <h5>본 약관은 회사와 이용자 간에 계약의 내용을 구체화한 것으로서, 이 약관에 동의하는 것은 회사의 서비스를 이용하는 조건으로 간주됩니다.
              회사는 사전 고지 없이 본 약관을 변경할 수 있으며, 변경된 약관은 사이트를 통해 공지하거나 이메일을 통해 통지합니다. 변경된 약관은 공지 후 [일정 기간] 이후부터 효력이 발생하며, 이
              기간 동안 이용자는 변경된 약관에 동의하지 않을 경우 사이트 이용을 중단할 수 있습니다.</h5>

              <h4><strong>3. 개인정보 처리방침</strong></h4>

              <h5>회사는 이용자의 개인정보를 보호하기 위해 최선의 노력을 다하며, 개인정보 처리방침에 따라 개인정보를 수집, 이용, 보관 및 관리합니다. 개인정보 처리방침의 내용은 사이트 내에서 확인하실 수
              있습니다.</h5>

              <h4><strong>4. 서비스의 제공</strong></h4>

              <h5>회사는 이용자에게 다양한 마케팅 서비스를 제공할 수 있으며, 해당 서비스는 사이트 내에서 상세히 안내됩니다.
              회사가 제공하는 서비스 중 일부는 유료로 제공될 수 있습니다. 유료 서비스 이용 시 별도의 약관이 적용될 수 있으며, 해당 내용은 사이트 내에서 안내됩니다.</h5>
              
              <h4><strong>5. 저작권 및 지적재산권</strong></h4>

              <h5>사이트 내에 게시된 모든 콘텐츠 및 자료의 저작권 및 지적재산권은 회사에 속합니다.
              회사의 사전 동의 없이 사이트 내의 콘텐츠를 무단으로 복사, 배포, 수정, 전송, 게시, 또는 이용하는 것은 금지됩니다.</h5>

              <h4><strong>6. 책임의 제한</strong></h4>

              <h5>회사는 사이트의 내용 및 서비스에 대한 정확성, 신뢰성, 완전성 등에 대해 어떠한 보증도 제공하지 않습니다.
              회사는 이용자의 사이트 이용으로 발생하는 어떠한 손해에 대해서도 책임을 지지 않습니다.</h5>

              <h4><strong>7. 분쟁의 해결</strong></h4>

              <h5>본 약관과 관련하여 발생하는 분쟁에 대해서는 대한민국의 법령을 적용하며, 이로 인한 소송은 서울중앙지방법원을 관할 법원으로 합니다.</h5>

              <h4><strong>8. 기타 사항</strong></h4>

              <h5>본 약관에 명시되지 않은 사항에 대해서는 회사와 이용자 간의 합의에 따르며, 합의가 없는 경우 관련 법령 및 상관례에 따릅니다.
                <br><br>
              본 약관은 2023년 8월 25일부터 적용됩니다.</h5>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div class="py-6 px-6 text-center">
    <!-- ======= Footer ======= -->
    <hr>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <p>
                  Bundang-gu, Seongnam-si, Gyeonggi-do, Pangyo 289-20, Korea
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/TermOfUse_I">이용약관</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/PrivacyPolicy_I">개인정보처리방침</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <p>
                  <strong>Phone:</strong> +82 010 8937 6522<br>
                  <strong>Email:</strong> ghdtmdalsdad@naver.com<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>inflaze</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">CircuitChamps</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    </div>
  </div><!-- End container-fluid -->
  </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  
  </body>
  {% else %} <!-- 로그인 안하고 주소창에 /InfluHome 치고 들어왔을 때 서비스 이용 불가능 -->
  <head>
    <title>페이지를 찾을 수 없음</title>
  </head>
  <body>
    <h1>페이지를 찾을 수 없음</h1>
    <p>죄송합니다. 요청하신 페이지를 찾을 수 없습니다.</p>
  </body>
  <div class="user-none">
    <script>
      alert("회원만 접근 가능합니다.");
    </script>
  </div>
  {% endif %}
  </html>